<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{course.title}}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category , message in messages %}

                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <header>
        <h1>Course : {{course.title}}</h1>
    </header>
    <main>
        <h2>{{lesson.position}}.{{lesson.title}}</h2>

        <div>
            {{ lesson.content }}
        </div>
        <br>

        <a href="{{url_for("student.course_detail" , course_id=course.id)}}">
            <button type="button">
                Back To Course
            </button>
        </a>
        
    </main>
</body>
</html>